{% extends "base.html" %} {% block content %}
<style>
    .bdl {
        border-left: 10px solid #84a9ac;
        padding-left: 3%;
    }
    
    .mysearch {
        padding: 2% 0;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }
    
    .mycolor1 {
        background-color: #fdd998;
    }
    
    .mycolor2 {
        background-color: #ffb385;
    }
</style>

<div class="container">
    <h1 class="bdl">รายการกรมธรรม์</h1>

    <div class="row mt-5 mysearch">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">ค้นหากรมธรรม์</a>
                <a class="nav-link" href="#">เปลี่ยนเลขทะเบียนรถ</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- ค้นหากรมธรรม์ -->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        <div class="col-lg-6 mt-3">
                            <label for="">เลขที่กรมธรรม์</label>
                            <input type="text" class="form-control" id="" name="">
                        </div>
                        <div class="col-lg-3 mt-3">
                            <label for="">ประเภทกรมธรรม์</label>
                            <select class="form-control" id="">
                                <option value="insurance">ประกันภัย</option>
                                <option value="compulsory">พ.ร.บ.</option>
                                </select>
                        </div>
                        <div class="col-lg-3 mt-3">
                            <button type="submit" class="btn btn-outline-primary form-control mt-4">ค้นหาจากเลขกรมธรรม์</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3 mt-3">
                            <label for="">ทะเบียนรถ</label>
                            <input type="text" class="form-control" id="" name="">
                        </div>
                        <div class="col-lg-3 mt-3">
                            <label for="">ชื่อผู้เอาประกัน</label>
                            <input type="text" class="form-control" id="" name="">
                        </div>
                        <div class="col-lg-3 mt-3">
                            <label for="">นามสกุลผู้เอาประกัน</label>
                            <input type="text" class="form-control" id="" name="">
                        </div>
                        <div class="col-lg-3 mt-3">
                            <button type="submit" class="btn btn-outline-primary form-control mt-4">ค้นหา</button>
                        </div>
                    </div>
                </div>
                <!-- เปลี่ยนเลขทะเบียนรถ -->
            </div>
        </div>
    </div>

    <div class="row mt-5">
        {% for c in cusbuycoumpulsory %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card">
                <div class="card-header mycolor1"><b>เลขที่กรมธรรม์พ.ร.บ. {{c.compulsory_id}}</b>
                </div>
                <div class="card-body text-left">
                    <p class="card-text">ทะเบียนรถ: <b>{{c.contract.car}}</b></p>
                    <p class="card-text">ผู้เอาประกัน: {{c.contract.car.owner}}</p>
                    <p class="card-text">เบอร์โทรศัพท์: {{c.contract.car.owner.phone}}</p>
                    <hr>
                    <p class="card-text">วันเริ่มคุ้มครอง: {{c.contract.date_start_cover}}</p>
                    <p class="card-text">วันสิ้นสุดคุ้มครอง: <i>{{c.contract.date_end_cover}}</i></p>
                    <p class="card-text">บริษัท: {{c.contract.company}}</p>
                    <hr>
                    <p class="card-text">ติดต่อลูกค้า: {{c.contract.customer}}</p>
                    <small class="card-text text-secondary">สถานะ: {{c.contract.status}}</small>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
    
    <hr class="mt-5 mb-5">

    <div class="row mt-5">
        {% for c in cusbuyinsurance %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card">
                <div class="card-header mycolor2"><b>เลขที่กรมธรรม์ประกัน {{c.insurance_id}}</b>
                </div>
                <div class="card-body text-left">
                    <p class="card-text">ทะเบียนรถ: <b>{{c.contract.car}}</b></p>
                    <p class="card-text">ผู้เอาประกัน: {{c.contract.car.owner}}</p>
                    <p class="card-text">เบอร์โทรศัพท์: {{c.contract.car.owner.phone}}</p>
                    <hr>
                    <p class="card-text">วันเริ่มคุ้มครอง: {{c.contract.date_start_cover}}</p>
                    <p class="card-text">วันสิ้นสุดคุ้มครอง: <i>{{c.contract.date_end_cover}}</i></p>
                    <p class="card-text">บริษัท: {{c.contract.company}}</p>
                    <hr>
                    <p class="card-text">ติดต่อลูกค้า: {{c.contract.customer}}</p>
                    <small class="card-text text-secondary">สถานะ: {{c.contract.status}}</small>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>

</div>

{% endblock %}