{% extends "base.html" %} {% block content %}
<style>
    .bdl {
        border-left: 10px solid #84a9ac;
        padding-left: 3%;
    }
    
    .mysearch {
        padding: 2% 0;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }
    
    .mycolor1 {
        background-color: #fdd998;
    }
    
    .mycolor2 {
        background-color: #ffb385;
    }
    
    .mycontainer {
        width: 90%;
        border: 1px solid #fdd998;
    }
</style>

<div class="container">
    <h1 class="bdl">รายการกรมธรรม์ประกัน</h1>
    <form method="POST" action="{% url 'ins_search' %}">
        {% csrf_token %}
        <div class="row mt-5 mysearch">
            <div class="col-lg-3 col-md-12">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">ค้นหากรมธรรม์ประกันภัย</a>
                    <a class="nav-link" href="{% url 'change_license' %}">เปลี่ยนเลขทะเบียนรถ</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <!-- ค้นหากรมธรรม์ -->
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-lg-9 mt-3">
                                <label for="">เลขที่กรมธรรม์</label>
                                <input type="text" class="form-control" id="contractid" name="contractid">
                            </div>
                            <div class="col-lg-3 mt-3">
                                <button type="submit" class="btn btn-outline-primary form-control mt-4" name="search1">ค้นหาจากเลขกรมธรรม์</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 mt-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ทะเบียนรถ</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="อท1616" name="license">
                                </div>
                            </div>
                            <div class="col-lg-8 mt-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ชื่อนามสกุลผู้เอาประกัน</span>
                                    </div>
                                    <input type="text" class="form-control" name="oname">
                                    <input type="text" class="form-control" name="osur">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-outline-primary form-control mt-4" name="search2">ค้นหา</button>
                            </div>
                        </div>
                    </div>
                    <!-- เปลี่ยนเลขทะเบียนรถ -->
                </div>
            </div>
        </div>
    </form>
    
    <small>{{msg}}</small>
    
    {% for c in cusbuyinsurance %}
    <div class="container mycontainer mt-5">
        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home{{c.id}}" role="tab" aria-controls="home" aria-selected="true">ข้อมูลพื้นฐาน</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile{{c.id}}" role="tab" aria-controls="profile" aria-selected="false">ข้อมูลรถ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">แก้ไข</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home{{c.id}}" role="tabpanel" aria-labelledby="home-tab"><br>
                <p><b>เลขที่กรมธรรม์ประกัน {{c.insurance_id}}</b> <span><small class="card-text text-secondary">(สถานะ: {{c.contract.status}})</small></span></p>
                <div class="row">
                    <div class="col-6">
                        <p>ทะเบียนรถ: <b>{{c.contract.car}}</b></p>
                        <p>ผู้เอาประกัน: {{c.contract.car.owner}} ({{c.contract.car.owner.phone}})</p>
                        <p>ติดต่อลูกค้า: {{c.contract.customer}} ({{c.contract.customer.phone}})</p>
                    </div>
                    <div class="col-6">
                        <p>วันเริ่มคุ้มครอง: {{c.contract.date_start_cover}}</p>
                        <p>วันสิ้นสุดคุ้มครอง: <i>{{c.contract.date_end_cover}}</i></p>
                        <p>บริษัท: {{c.contract.company}} (ป. {{c.insurance_code}})</p>
                        <p>ราคา: {{c.contract.price}} บาท</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile{{c.id}}" role="tabpanel" aria-labelledby="profile-tab"><br>
                <div class="row">
                    <div class="col-6">
                        <p>ยี่ห้อ: {{c.contract.car.brand}}</p>
                        <p>รุ่น: {{c.contract.car.model}}</p>
                        <p>ประเภท: {{c.contract.car.type}}</p>
                        <p>วันที่จดทะเบียน: {{c.contract.car.date_register}}</p>
                    </div>
                    <div class="col-6">
                        <p>เลขตัวรถ: {{c.contract.car.chasis_on}}</p>
                        <p>ขนาดเครื่อง: {{c.contract.car.displacement}} cc</p>
                        <p>น้ำหนักรวม: {{c.contract.car.gvw}}</p>
                        <p>จำนวนที่นั่ง: {{c.contract.car.seat}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor%}
</div>

{% endblock %}