{% extends "base.html" %}
{% block content %}
{% load static %}
<html lang="en">
<head>
	<title>Contact V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css/'%}">
</head>
<body>

     <div class="site-section" id="contact-section">
      <div class="container">
        <form method="POST" action="{% url 'add_per' %}" id="add_per" class="contact3-form validate-form">
        {% csrf_token %}

          <div class="section-title text-center mb-5">
            <h2 class="title text-primary">Add Person</h2>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              User_id: <select id="User_id">
            {% for user in user_all %}
                <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
                </select>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6 mb-4 mb-md-0">
              <input type="text" class="form-control" placeholder="Card_id" name="username">
            </div>
           
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Phone"name="phone">
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6 mb-4 mb-md-0">
              <input type="text" class="form-control" placeholder="Firstname" name="first_name">
            </div>
           
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Lastname"name="last_name">
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <input type="text" class="form-control" placeholder="URL_Picture" name="picture" value= "https://i.stack.imgur.com/l60Hf.png">
            </div>
          </div>


          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-md">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
		
		
	</body>
</html>
    
</body>
</html>
{% endblock %}

