{% extends "base.html" %}
{% block content %}
{% load static %}
<html lang="en">
<head>
	<title>Contact V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css/'%}">
</head>
<body>
  
		<div class="wrapper">
			<div class="inner">
				<form method="POST" action="{% url 'edit_page' %}" id="edit_page" class="contact3-form validate-form">
                {% csrf_token %}
                    <h3>Edit</h3>
                    <center>
					<h4>{{customer_data.fname}}&nbsp&nbsp&nbsp{{customer_data.lname}}<h4>
                    <center>
                    <img src="{{customer_data.picture}}" class="card-img-top" alt="blog">

					<label class="form-group">
						card-id :<input type="text" class="form-control" name="cardid" value = "{{customer_data.card_id}}">
						
					</label>

					<label class="form-group">
						Phone :<input type="text" class="form-control" name="phone" value = "{{customer_data.phone}}">
						
					</label>
					<label class="form-group" >
                        Address : <textarea class="form-control" name="address">{{customer_data.address}}</textarea>
						
					</label>

                    <input class="input3" type="hidden" name="id" placeholder="ID" value = "{{customer_id}}">

					<button>Submit 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
    
</body>
</html>
{% endblock %}

