{% extends "base.html" %}
{% block content %}
{% load static %}
{% load infocustomer_extras %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css/'%}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>

<body>

    <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>User infomation</p>
                        <a href="/adduser/" class="btn btn-info red" role="button">Add User</a>
                        <h2>User Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            {%for user, U in person_data|zip:user_data %}
                <div class="col-sm-6 col-lg-4 col-xl-4">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="{{ user.picture}}" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="" class="btn_4">Username: {{ user.user.username}}</a>
                                <a href="blog.html">
                                
                                    <h5 class="card-title">{{ user.user.first_name}}    {{ user.user.last_name}}</h5>                               
                                </a>
                                <p>card id :{{user.card_id}}</p>
                                <p>phone :{{user.phone}}</p>
                                <p>email :{{U.email}}</p>
                                <a href="/edit_user/{{user.user.id }}" class="btn btn-info red" role="button">Edit</a>                                
                                <a href="/deleteuser/{{user.user.id }}" class="btn btn-info red" role="button">Delete</a> 
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}            
            </div>           
        </div>
        
    </section>

    
</body>
</html>
{% endblock %}

