{% extends "base.html" %} {% block content %}
<style>
    .bdl {
        border-left: 10px solid #84a9ac;
        padding-left: 3%;
    }
    
    .mycontract {
        width: 90%;
    }
</style>

<div class="container">
    <h1 class="bdl">เพิ่มกรมธรรม์พ.ร.บ.</h1>
    <div class="container mycontract">
        <form action="{% url 'new_compulsory' %}" method='POST' class="mt-5">
            {% csrf_token %}
            <h4>ข้อมูลพื้นฐาน</h4><br>
            <div class="form-row mt-4">
                <div class="form-group col-md-6">
                    <label for="">เลขทะเบียนรถ</label>
                    <input type="text" class="form-control" id="inputLicense" name="inputLicense" value={{carlicense}}>
                </div>
                <div class="form-group col-md-6">
                    <label for="">จังหวัด</label>
                    <select class="form-control" id="inputProvince" name="inputProvince">
                    <option value='Choose...'>Choose...</option>
                    {% for province in provincelist %}
                        <option value='{{province.id}}' {% if province.id == carprovince %}selected{% endif %}>{{province.name}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-warning mb-2" name="search_license">ตรวจสอบทะเบียนรถ</button> {% if car_mes == 'not' %}
                    <small class="form-text text-muted">ไม่มีข้อมูลรถในระบบ <a href="{% url 'add_customer' %}">คลิกเพื่อเพิ่มข้อมูลรถ</a></small> {% elif car_mes == 'car' %}
                    <small class="form-text text-muted">เรามีรถคุณแล้ว:'D</small> {% endif %}
                </div>
            </div>
            <!-- <p data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i>คลิกเพื่อดูข้อมูลรถ</i>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="form-row mt-4">
                        <div class="form-group col-md-6">
                            <label for="">ชื่อเจ้าของรถ</label>
                            <input type="text" class="form-control" id="inputOwnfname" name="inputOwnfname" value={{ownerfname}}>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">นามสกุลเจ้าของรถ</label>
                            <input type="text" class="form-control" id="inputOwnlname" name="inputOwnlname" value={{ownerlname}}>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="form-row mt-3">
                <div class="form-group col-md-6">
                    <label for="">ชื่อผู้ติดต่อ/ลูกค้า</label>
                    <input type="text" class="form-control" id="inputCusfname" name="inputCusfname" value={{cusfname}}>
                </div>
                <div class="form-group col-md-6">
                    <label for="">นามสกุลผู้ติดต่อ/ลูกค้า</label>
                    <input type="text" class="form-control" id="inputCuslname" name="inputCuslname" value={{cuslname}}>
                </div>
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-warning mb-2" name="search_customer">ตรวจสอบลูกค้า</button> {% if cus_mes == 'not' %}
                    <small class="form-text text-muted">ไม่มีผู้ติดต่อในระบบ <a href="{% url 'add_customer' %}">คลิกเพื่อเพิ่มผู้ติดต่อ</a></small> {% elif cus_mes == 'customer' %}
                    <small class="form-text text-muted">เรามีคุณแล้ว:'D</small> {% endif %}
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <h4>ข้อมูลพ.ร.บ.</h4><br>
            <div class="form-group">
                <label for="">เลขที่กรมธรรม์</label>
                <input type="text" class="form-control" maxlength="50" name="contractno">
            </div>
            <div class="form-group">
                <label for="">วันเริ่มคุ้มครอง</label>
                <input type="date" class="form-control" name="datecover">
            </div>
            <div class="form-group">
                <label for="">บริษัท</label>
                <select class="form-control" id="companySelect" name="companySelect">
                    <option value="Choose...">Choose...</option>
                    {% for company in companylist %}
                        <option value='{{company.id}}'>{{company.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="">รหัสการใช้รถพ.ร.บ.</label>
                <select class="form-control" id="premiumSelect" name="premiumSelect">
                    <option value="Choose...">Choose...</option>
                    {% for premium in premiumlist %}
                        <option value='{{premium.id}}'>{{premium}}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-outline-success mb-5" name="new">ยืนยัน</button>
        </form>
    </div>
    {% endblock %}