{% extends "base.html" %} {% block content %}
<style>
    .bdl {
        border-left: 10px solid #84a9ac;
        padding-left: 3%;
    }
</style>
<div class="container">
    <h1 class="bdl">รหัสการใช้รถ</h1>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัส</th>
                <th scope="col">รายละเอียด</th>
            </tr>
        </thead>
        <tbody>
            {% for car in table %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{car.code}}</td>
                <td>{{car.info}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}