{% extends "base.html" %} {% block content %}
<style>
    hr {
        border: 1px solid #dd7631;
        width: 10%;
    }
    .myhead {
        font-size: 44px;
        line-height: 28px;
        color: #0c2e60;
        font-weight: 600;
        line-height: 1.222;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5">
            <div class="section_tittle text-center">
                <p>ตารางรหัสการใช้รถ</p>
                <h2 class="myhead">รหัสการใช้รถประกันภัย</h2>
            </div>
        </div>
    </div>
    <hr>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัส</th>
                <th scope="col">รายละเอียด</th>
            </tr>
        </thead>
        <tbody>
            {% for car in table %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{car.code}}</td>
                <td>{{car.info}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}