{% extends "base.html" %} {% block content %}
<style>
    .bdl {
        border-left: 10px solid #84a9ac;
        padding-left: 3%;
    }
    hr {
        border: 1px solid #ea6227;
        width: 10%;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5">
            <div class="section_tittle text-center">
                <p>ตารางรหัสการใช้รถ</p>

                <h2>รหัสการใช้รถของประกัน</h2>
            </div>
        </div>
    </div>
    <hr>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัส</th>
                <th scope="col">รายละเอียด</th>
            </tr>
        </thead>
        <tbody>
            {% for car in table %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{car.code}}</td>
                <td>{{car.info}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}