{% extends "base.html" %} {% block content %}
<style>
    .myhead {
        font-size: 44px;
        line-height: 28px;
        color: #0c2e60;
        font-weight: 600;
        line-height: 1.222;
    }
    
    hr {
        border: 1px solid #dd7631;
        width: 10%;
    }
    
    img {
        height: 50%;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5">
            <div class="section_tittle text-center">
                <p>Password</p>
                <h2 class="myhead">Change</h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-5">
            <img src="https://i.pinimg.com/564x/0c/a8/3b/0ca83bad2ed17c5dae947c7aed71ac5e.jpg" alt="">
        </div>
        <div class="col-7">
            <br>

            <form class="form-signin mylogin" method="POST" action="{% url 'changepass' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="current">
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="new">
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" name="confirm">
                </div>

                <button type="submit" class="btn btn-primary">Change</button><small> {{msg}}</small>
            </form>
        </div>
    </div>
</div>
{% endblock %}