{% extends "base.html" %} {% block content %}
<style>
    .bdl {
        border-left: 10px solid #84a9ac;
        padding-left: 3%;
    }
</style>

<div class="container">
    <h1 class="bdl">รายชื่อบริษัท</h1>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ชื่อบริษัท</th>
                <th scope="col">เลขประจำตัวผู้เสียภาษี</th>
                <th scope="col">ที่อยู่</th>
                <th scope="col">เบอร์โทรศัพท์</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>x</td>
                <td>123456789</td>
                <td>ใต้ฟ้า บนดิน</td>
                <td>0888888888</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>x</td>
                <td>123456789</td>
                <td>ใต้ฟ้า บนดิน</td>
                <td>0888888888</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>x</td>
                <td>123456789</td>
                <td>ใต้ฟ้า บนดิน</td>
                <td>0888888888</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>x</td>
                <td>123456789</td>
                <td>ใต้ฟ้า บนดิน</td>
                <td>0888888888</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}